#status-container {
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
}

h1 {
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

table { 
    width: 100%;
}
th:last-child {width: 100%;}/*Setting the width of column 3.*/

.chart-bar {
    color: white
}

#header-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 0 0.3em 0;
}