[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}
coloredlogs = "*"
pandas = "*"
pyarrow = "*"
pdf2image = "*"
defusedxml = "*"
sci-annot-eval = {editable = true, path = "./../../validation"}
django = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
