[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}
coloredlogs = "*"
pandas = "*"
pyarrow = "*"
defusedxml = "*"
sci-annot-eval = "==0.0.9"
django = "*"
django-cors-headers = "*"
faker = "*"
opencv-python = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
