<!DOCTYPE html>
{% load static %}
{% load cache_bust %}

<html>
  <head>
    <title>Sci-Annot Review System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'web/review.css' %}?{% cache_bust %}">
  </head>
  <body>
    {% if assignments %}
        <div id='left-pane' class='pane'>
            <iframe 
                src="{{external_url}}?assignmentUrl=http://{{request.get_host}}/assignment/{{page_id}}/{{assignments.0.assignment_id}}&amp;image={{image_url_base}}{{page_id}}{{image_extension}}" 
                title="Right pane"
            ></iframe>
        </div>
        {% if assignments.1 %}
            <div id='border' class='border'>
            </div>
            <div id='right-pane' class='pane'>
                <iframe 
                    src="{{external_url}}?assignmentUrl=http://{{request.get_host}}/assignment/{{page_id}}/{{assignments.1.assignment_id}}&amp;image={{image_url_base}}{{page_id}}{{image_extension}}" 
                    title="Right pane"
                ></iframe>
            </div>
        {% endif %}
        <div id="control-box" class="{%if assignments.1%}double{%else%}single{%endif%}">
                <form method="post" action="/assignment/{{page_id}}/{{assignments.0.assignment_id}}">
                    {% csrf_token %}
                    <input type="hidden" name="dummy_field" value="dummy_value">
                    <button type="submit" title="Approve {%if assignments.1%} left{%endif%}">
                        {% if assignments.1 %}
                            <img src="{% static 'web/images/chevron-left.svg'%}" alt="left arrow">
                        {% else %}
                            <img src="{% static 'web/images/check.svg'%}" alt="check">
                        {% endif %}
                    </button>
                </form>
                {%if assignments.1%}
                    <form method="post" action="/assignment/{{page_id}}/{{assignments.1.assignment_id}}">
                        {% csrf_token %}
                        <input type="hidden" name="dummy_field" value="dummy_value">
                        <button type="submit" title="Approve right">
                            <img src="{% static 'web/images/chevron-right.svg'%}" alt="right arrow">
                        </button>
                    </form>
                {% endif %}
                <form method="post" action="/assignment/{{page_id}}/REJECT">
                    {% csrf_token %}
                    <input type="hidden" name="dummy_field" value="dummy_value">
                    <button type="submit" title="Reject {%if assignments.1%} both{%endif%}">
                        <img src="{% static 'web/images/close.svg'%}" alt="close">
                    </button>
                </form>
                <a href="/review" title="Load new random">
                    <img src="{% static 'web/images/refresh.svg'%}" alt="refresh">
                </a>
            </div>
    {% else %}
        <div class='central-error'>
            <b>NO ASSIGNMENTS</b>
        </div>
    {% endif %}
  </body>
</html>