<!DOCTYPE html>
{% load static %}
{% load cache_bust %}
{% load assignment_url %}
{% load rel_assignment_url %}
{% load rel_simple_url %}

<html>
  <head>
    <title>HITMaker Review System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'web/review.css' %}?{% cache_bust %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}?{% cache_bust %}">
  </head>
  <body>
    {% if assignments %}
        <div id='left-pane' class="pane {%if accepted_assignment_id == assignments.0.assignment_id%}accepted{%endif%}">
            {% assignment_url request.get_host page_id assignments.0.assignment_id as assig_url_encoded%}
            <iframe
                src="{{external_url}}?assignmentUrl={{assig_url_encoded}}&amp;image={{image_url_base}}{{page_id}}{{image_extension}}&amp;csrf_token={{csrf_token}}"
                title="Right pane"
            ></iframe>
        </div>
        {% if assignments.1 %}
            <div id='border' class='border'>
            </div>
            <div id='right-pane' class="pane {%if accepted_assignment_id == assignments.1.assignment_id%}accepted{%endif%}">
                {% assignment_url request.get_host page_id assignments.1.assignment_id as assig_url_encoded%}
                <iframe 
                    src="{{external_url}}?assignmentUrl={{assig_url_encoded}}&amp;image={{image_url_base}}{{page_id}}{{image_extension}}&amp;csrf_token={{csrf_token}}" 
                    title="Right pane"
                ></iframe>
            </div>
        {% endif %}
        <div id="control-box" class="{%if assignments.1%}double{%else%}single{%endif%}">
                <form method="post" action="{% rel_assignment_url page_id assignments.0.assignment_id %}">
                    {% csrf_token %}
                    <input type="hidden" name="dummy_field" value="dummy_value">
                    <button type="submit" title="Approve {%if assignments.1%} left{%endif%}">
                        {% if assignments.1 %}
                            <img src="{% static 'web/images/chevron-left.svg'%}" alt="left arrow">
                        {% else %}
                            <img src="{% static 'web/images/check.svg'%}" alt="check">
                        {% endif %}
                    </button>
                </form>
                {%if assignments.1%}
                    <form method="post" action="{% rel_assignment_url page_id assignments.1.assignment_id %}">
                        {% csrf_token %}
                        <input type="hidden" name="dummy_field" value="dummy_value">
                        <button type="submit" title="Approve right">
                            <img src="{% static 'web/images/chevron-right.svg'%}" alt="right arrow">
                        </button>
                    </form>
                    <form method="post" action="{% rel_assignment_url page_id assignments.0.assignment_id %}">
                        {% csrf_token %}
                        <input type="hidden" name="dummy_field" value="dummy_value">
                        <input type="hidden" name="strict" value="true">
                        <button type="submit" title="Approve left and reject others">
                            <img src="{% static 'web/images/chevron-left-double.svg'%}" alt="double left arrow">
                        </button>
                    </form>
                    <form method="post" action="{% rel_assignment_url page_id assignments.1.assignment_id %}">
                        {% csrf_token %}
                        <input type="hidden" name="dummy_field" value="dummy_value">
                        <input type="hidden" name="strict" value="true">
                        <button type="submit" title="Approve right and reject others">
                            <img src="{% static 'web/images/chevron-right-double.svg'%}" alt="double right arrow">
                        </button>
                    </form>
                {% endif %}
                <form method="post" action="{% rel_assignment_url page_id 'REJECT' %}">
                    {% csrf_token %}
                    <input type="hidden" name="dummy_field" value="dummy_value">
                    <button type="submit" title="Reject {%if assignments.1%} both{%endif%}">
                        <img src="{% static 'web/images/close.svg'%}" alt="close">
                    </button>
                </form>
                <a href="{% rel_simple_url '/review/' %}" title="Load new random">
                    <img src="{% static 'web/images/refresh.svg'%}" alt="refresh">
                </a>
            </div>
    {% else %}
        <div id='left-pane' class="pane">
            {% assignment_url request.get_host page_id "LOCAL" as assig_url_encoded%}
            <iframe
                src="{{external_url}}?assignmentUrl={{assig_url_encoded}}&amp;image={{image_url_base}}{{page_id}}{{image_extension}}&amp;csrf_token={{csrf_token}}"
                title="Right pane"
            ></iframe>
        </div>
        <div id="control-box" class="{%if assignments.1%}double{%else%}single{%endif%}">
            <a href="{% rel_simple_url '/review/' %}" title="Load new random">
                <img src="{% static 'web/images/refresh.svg'%}" alt="refresh">
            </a>
        </div>
    {% endif %}
  </body>
</html>